<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Cadastro de Vaga</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cad_vagas.css' %}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Vaga</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome da Vaga:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="faixa_salarial">Faixa Salarial:</label>
                <select id="faixa_salarial" name="faixa_salarial" required>
                    {% for choice in faixa_salarial_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="escolaridade_minima">Escolaridade Mínima:</label>
                <select id="escolaridade_minima" name="escolaridade_minima" required>
                    {% for choice in escolaridade_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="requisitos">Requisitos:</label>
                <textarea id="requisitos" name="requisitos" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Cadastrar Vaga</button>
            </div>
        </form>
        <a href="{% url 'vagas_cadastradas' %} " class = 'voltar-link'>
            <button>Voltar</button>
        </a>
    </div>
</body>
</html>
