<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Vagas Cadastradas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vagas_cadastradas.css' %}">
</head>
<body>
    <div class="container">
        {% if aviso %}
        <p class="aviso" id="aviso">{{ aviso }}</p>  
        {% endif %}
        <h1>Vagas Cadastradas</h1>
        <div class="vagas">
            {% for vaga in vagas %}
            <div class="vaga">
                <h2>{{ vaga.nome }}</h2>
                <p>Salário: {{ vaga.get_faixa_salarial_display }}</p>
                <p>Escolaridade Mínima: {{ vaga.get_escolaridade_minima_display}}</p>
                <a href="{% url 'detalhes_vaga_empresas' vaga.id %}">
                    <button>Ver detalhes</button>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="logout-button">
            <a href="{% url 'logout_view' %}">
                <button>Sair</button>
            </a>
        </div>
        <div class="cadastro_vaga-button">
            <a href="{% url 'cad_vagas' %}">
                <button>Cadastrar nova vaga</button>
            </a>
        </div>
        <div class="logout-button">
            <a href="{% url 'dashboards' %}">
                <button>Gráficos de desempenho</button>
            </a>
        </div>
    </div>    
</body>
</html>
