<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>Vagas Disponíveis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vagas.css' %}">
</head>
<body>
    <div class="container">
        <h1>Vagas Disponíveis</h1>
        <div class="vagas">
            {% for vaga in vagas %}
            <div class="vaga">
                <h2>{{ vaga.nome }}</h2>
                <p>Salário: {{ vaga.get_faixa_salarial_display }}</p>
                <p>Escolaridade Mínima: {{ vaga.get_escolaridade_minima_display}}</p>
                <a href="{% url 'detalhes_vaga' vaga.id %}">
                    <button>Ver detalhes</button>
                </a>
            </div>
            {% endfor %}
            {%if mensagem%}
            <p>{{mensagem}}</p>
            {% endif %}
        </div>
        <div class="logout-button">
            <a href="{% url 'logout_view' %}">
                <button>Sair</button>
            </a>
        </div>
        
    </div>    
</body>
</html>
